$bee-color: #07c748;
$dark-bee-color: green;

body {
  font-family: Helvetica, sans-serif;
}

a {
  color: $bee-color;
  font-size: 16px;


  &:hover {
    color: $dark-bee-color;
    text-decoration: none;
  }
}

.header {
  height: 60px;

  .bumble-bee-logo {
    padding: 10px;

    a {
      color: #000000;
      font-size: 28px;
    }
  }

  .actions {
    a {
      float: right;
    }
  }
}

.content {
  height: 100vh;

  &.after-signin {
    background-color: #f8f7f4;
  }
}
